<a href="https://colab.research.google.com/github/cbonnin88/Python_DAProjects/blob/main/Ecommerce_Purchases.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import gdown as gd

In [3]:
url = "https://drive.google.com/uc?id=1eT3KW0OtXxDPGNADS-mBJffkYhBbjWiR"
gd.download(url,"Ecommerce Purchases.csv",quiet=True)

df_purchase = pd.read_csv("Ecommerce Purchases.csv")

In [4]:
# Display the Top Ten Rows:
df_purchase.head(10)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
5,"7502 Powell Mission Apt. 768\nTravisland, VA 3...",21 XT,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_8_5...,Silva-Anderson,30246185196287,07/25,7169,Discover,ynguyen@gmail.com,Fish farm manager,55.96.152.147,ru,25.15
6,"93971 Conway Causeway\nAndersonburgh, AZ 75107",96 Xt,AM,Mozilla/5.0 (compatible; MSIE 7.0; Windows NT ...,Gibson and Sons,6011398782655569,07/24,714,VISA 16 digit,olivia04@yahoo.com,Dancer,127.252.144.18,de,88.56
7,"260 Rachel Plains Suite 366\nCastroberg, WV 24...",96 pG,PM,Mozilla/5.0 (X11; Linux i686) AppleWebKit/5350...,Marshall-Collins,561252141909,06/25,256,VISA 13 digit,phillip48@parks.info,Event organiser,224.247.97.150,pt,44.25
8,"2129 Dylan Burg\nNew Michelle, ME 28650",45 JN,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Galloway and Sons,180041795790001,04/24,899,JCB 16 digit,kdavis@rasmussen.com,Financial manager,146.234.201.229,ru,59.54
9,"3795 Dawson Extensions\nLake Tinafort, ID 88739",15 Ug,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.7.20) Gec...,"Rivera, Buchanan and Ramirez",4396283918371,01/17,931,American Express,qcoleman@hunt-huerta.com,Forensic scientist,236.198.199.8,zh,95.63

In [5]:
# Disply Last 10 Rows of the Dataset
df_purchase.tail(10)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
9990,"75731 Molly Springs\nWest Danielle, VT 96934-5102",93 ty,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_4;...,"Pace, Vazquez and Richards",869968197049750,04/24,877,JCB 15 digit,andersonmichael@sherman.biz,Early years teacher,54.170.3.185,ru,18.35
9991,"PSC 8165, Box 8498\nAPO AP 60327-0346",50 dA,AM,Mozilla/5.0 (compatible; MSIE 8.0; Windows NT ...,Snyder Inc,4221582137197481,02/24,969,Voyager,kking@wise-liu.com,IT sales professional,254.25.31.156,el,25.93
9992,"885 Allen Mountains Apt. 230\nWallhaven, LA 16995",40 vH,PM,Mozilla/5.0 (Macintosh; PPC Mac OS X 10_6_5) A...,Wells Ltd,4664825258997302,10/20,431,Discover,bberry@wright.net,Set designer,174.173.51.32,de,67.96
9993,"7555 Larson Locks Suite 229\nEllisburgh, MA 34...",72 jg,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,Colon and Sons,30025560104631,10/25,629,Maestro,chelseawilliams@lopez.biz,"Designer, exhibition/display",177.46.82.128,el,65.61
9994,"6276 Rojas Hollow\nLake Louis, WY 56410-7837",93 Ex,PM,Opera/9.68.(X11; Linux x86_64; sl-SI) Presto/2...,Ritter-Smith,3112186784121077,01/25,1823,Maestro,iroberts@gmail.com,"Education officer, museum",242.44.112.18,zh,31.85
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

In [9]:
# Check Datatype of Each Column
df_purchase.dtypes

Address              object
Lot                  object
AM or PM             object
Browser Info         object
Company              object
Credit Card           int64
CC Exp Date          object
CC Security Code      int64
CC Provider          object
Email                object
Job                  object
IP Address           object
Language             object
Purchase Price      float64
dtype: object

In [11]:
# Check Null Values in The Dataset
df_purchase.isnull().sum()

Address             0
Lot                 0
AM or PM            0
Browser Info        0
Company             0
Credit Card         0
CC Exp Date         0
CC Security Code    0
CC Provider         0
Email               0
Job                 0
IP Address          0
Language            0
Purchase Price      0
dtype: int64

In [14]:
# How Many Rows and Columns are there in our Dataset
print(f"Total amount of columns in our dataset: {len(df_purchase.columns)}")

Total amount of columns in our dataset: 14

In [15]:
print(f"Total amount of rows in our dataset: {len(df_purchase)}")

Total amount of rows in our dataset: 10000

In [16]:
df_purchase.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [18]:
# Highest and Lowest Purchase Prices
print(f"Highest Price: {df_purchase['Purchase Price'].max()}")
print(f"Lowest Price: {df_purchase['Purchase Price'].min()}")

Highest Price: 99.99
Lowest Price: 0.0

In [20]:
# Average Purchase Price
print(f"The average price in our dataset is {df_purchase['Purchase Price'].mean():.2f}")

The average price in our dataset is 50.35

In [53]:
# How many People have French 'fr' as their language
df_purchase[df_purchase['Language']=='fr'].count()

Address             1097
Lot                 1097
AM or PM            1097
Browser Info        1097
Company             1097
Credit Card         1097
CC Exp Date         1097
CC Security Code    1097
CC Provider         1097
Email               1097
Job                 1097
IP Address          1097
Language            1097
Purchase Price      1097
dtype: int64

In [55]:
len(df_purchase[df_purchase['Language']=='fr'])

1097

In [40]:
# Jobs containing the word Analyst
len(df_purchase[df_purchase['Job'].str.contains('analyst', case=False)])

61

In [42]:
# Find the email of the person with the following IP address : 123.207.160.22
df_purchase[df_purchase['IP Address']=="132.207.160.22"]['Email']

2    amymiller@morales-harrison.com
Name: Email, dtype: object

In [48]:
# How Many People have Maestro as their credit card provider and made a Purchase over 50 dollars
df_purchase[(df_purchase['CC Provider']=="Maestro") & (df_purchase['Purchase Price'] > 50)]

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
29,"30755 Joshua Plaza Apt. 567\nWest Susanton, FM...",93 OP,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_6_7...,Goodwin Ltd,4170734785397597,07/22,319,Maestro,stonekaren@yahoo.com,Recycling officer,218.189.145.248,it,82.16
47,"261 Walton Road Suite 704\nMaldonadoshire, MD ...",55 DV,PM,Mozilla/5.0 (X11; Linux i686) AppleWebKit/5330...,Sanchez PLC,4237333090755,09/20,446,Maestro,zrocha@glenn.org,Facilities manager,84.195.175.153,it,97.01
57,"80728 Anthony Common Apt. 128\nNorth Rebecca, ...",50 Cq,PM,Mozilla/5.0 (X11; Linux x86_64; rv:1.9.5.20) G...,Coleman-Thompson,60441789637,01/24,56,Maestro,timothy88@morris.com,Holiday representative,135.11.140.254,es,65.85
114,Unit 0282 Box 9769\nDPO AP 05162-2277,72 zO,AM,Mozilla/5.0 (Windows NT 6.0) AppleWebKit/5331 ...,Mcbride and Sons,210064795352915,08/18,9413,Maestro,matthew50@hotmail.com,Research scientist (maths),205.48.101.138,pt,77.75
117,"853 Ayers Forges\nEast Tiffany, MP 15967",95 Os,PM,Mozilla/5.0 (X11; Linux i686) AppleWebKit/5311...,"Martinez, Rodriguez and Romero",4723833428371,10/18,140,Maestro,aprilwatkins@nelson.com,Interpreter,126.111.34.193,en,64.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9898,"0715 Jennifer Land\nRichardstad, VA 58683",99 nw,PM,Mozilla/5.0 (Windows; U; Windows NT 5.01) Appl...,"Wright, Maxwell and Ochoa",30112144732432,08/18,270,Maestro,stanleyroach@gmail.com,Automotive engineer,133.138.146.220,es,79.37
9933,"3186 Jennifer Shoal Apt. 319\nNelsonfort, UT 0...",26 Th,PM,Opera/8.89.(X11; Linux x86_64; it-IT) Presto/2...,"Davidson, George and Jones",4500984442689438,01/23,548,Maestro,hunterpatricia@gmail.com,Probation officer,79.104.47.162,pt,52.35
9958,"PSC 8781, Box 4214\nAPO AP 94478",72 Ez,AM,Mozilla/5.0 (iPod; U; CPU iPhone OS 3_0 like M...,"Logan, Anderson and Martin",210030902457830,08/24,597,Maestro,reynoldsrick@yahoo.com,Industrial/product designer,26.86.9.173,en,99.86
9966,"433 Jeffrey Plain\nEast Troy, LA 47554-8117",18 gm,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_3;...,"Smith, Hunt and Larsen",3158609354616429,02/21,54,Maestro,jeff10@hotmail.com,Social researcher,114.48.205.44,it,78.63
9993,"7555 Larson Locks Suite 229\nEllisburgh, MA 34...",72 jg,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,Colon and Sons,30025560104631,10/25,629,Maestro,chelseawilliams@lopez.biz,"Designer, exhibition/display",177.46.82.128,el,65.61

In [56]:
df_purchase[(df_purchase['CC Provider']=='Maestro') & (df_purchase['Purchase Price']>50)].count()

Address             424
Lot                 424
AM or PM            424
Browser Info        424
Company             424
Credit Card         424
CC Exp Date         424
CC Security Code    424
CC Provider         424
Email               424
Job                 424
IP Address          424
Language            424
Purchase Price      424
dtype: int64

In [57]:
# Find the email of the person with the followinig CC Number : 4664 82525 8997 302
df_purchase.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [63]:
df_purchase[df_purchase['Credit Card']==4664825258997302]

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
9992,"885 Allen Mountains Apt. 230\nWallhaven, LA 16995",40 vH,PM,Mozilla/5.0 (Macintosh; PPC Mac OS X 10_6_5) A...,Wells Ltd,4664825258997302,10/20,431,Discover,bberry@wright.net,Set designer,174.173.51.32,de,67.96

In [66]:
# How many people make purchases in the morning and how many people starting from noon ?
df_purchase['AM or PM'].value_counts()

AM or PM
PM    5068
AM    4932
Name: count, dtype: int64

In [68]:
# How many people with credit cards that expire in 2020 ?
df_purchase['CC Exp Date']

0       02/20
1       11/18
2       08/19
3       02/24
4       10/25
        ...
9995    03/22
9996    07/25
9997    05/21
9998    11/17
9999    02/19
Name: CC Exp Date, Length: 10000, dtype: object

In [71]:
def expires() -> int:
  count = 0
  for card in df_purchase['CC Exp Date']:
    if card.split('/')[1]=='20':
      count=count+1
  print(count)

In [72]:
expires()

988

In [76]:
df_purchase[df_purchase['CC Exp Date'].apply(lambda x:x[3:]=='20')].shape[0]

988

In [80]:
# Top 5 Most popular Email providers
email_list=[]
for email in df_purchase['Email']:
    email_list.append(email.split('@')[1])

In [81]:
df_purchase['Temp']= email_list

In [83]:
df_purchase.head(1)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Temp
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,yahoo.com

In [84]:
df_purchase['Temp'].value_counts().head()

Temp
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64

In [85]:
df_purchase['Email'].apply(lambda x:x.split('@')[1]).value_counts().head(5)

Email
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64